* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}

html {
    background-color: #e5e5e5;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: rgb(204, 224, 255); /* WebKit/Blink Browsers */
}

*::-moz-selection {
    background: rgb(204, 224, 255); /* Gecko Browsers */  
}

.container {
    width: 1140px;
    
    /*margin: Top Right Button Left;  */   
    margin: 20px  auto 0 auto; 
}

.main-text,p{
    text-align: justify;
}

